@import url('https://fonts.googleapis.com/css?family=Lato');

ol{
  font-family: 'Lato', sans-serif;
  color: #E9E9E9;
  margin-bottom: 1rem;
}


html, body, h1, h2, h4, h5, h6, p, div {
  font-family: 'Lato', sans-serif;
  color: #4EB1BA;
}
h1{
  font-size: 2rem;
}
p{
  font-size: 1rem;
  margin: 0;
}

h3{
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.listText{
  font-size: 1rem;
}

button{
  font-family: 'Lato', sans-serif;
  color: #FFB6C1;
  background-color: #181617;
  border: 1px solid #FFB6C1;
  font-size: 1rem;
}


body{
  background-color: #181617;
}

label{
  font-size: 1rem;
}

.input-group.input-group-lg.text{
  margin-bottom: 1rem;
}

select{
  font-size: 1rem;
}

input{
  font-size: 1rem;
}


/* Everything else bigger */
@media only screen and (min-width: 600px){
  div#root{
    margin: auto;
    width: 80%;
  }
}